<!--header section-->
<%-include('include/__header')%>
<!--/header section-->

<!--/header-->
 <main class="site-main">
  <div class="container">
  <div class="usersA gradient" id="up-alert">
    <a href="/" class="user"> 
      <span class="text-gradient">
        <i class="fas fa-angle-double-left"></i> All User 
      </span>
    </a>
  </div>

  <div class="user-txt" id="down-alert">
    <h2>New User <i class="fas fa-user"></i></h2>
    <span class="text-small"> Use the bellow from to create a new account </span>
  </div>
<%-include('include/__form')%>
</main>

<!--footer section-->
<%-include('include/__footer')%>
<!--/footer section-->